<form method="post" action="{{ path('app_distributeurs_delete', {'id': distributeur.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ distributeur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
