<form method="post" action="{{ path('app_references_delete', {'id': reference.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reference.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
